<%= form_with(model: flight) do |form| %>
  <% if flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
        <% flight.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :departure_airport %>
    <%= form.text_field :departure_airport %>
  </div>

  <div class="field">
    <%= form.label :arrival_airport %>
    <%= form.text_field :arrival_airport %>
  </div>

  <div class="field">
    <%= form.label :departure_datetime %>
    <%= form.datetime_select :departure_datetime %>
  </div>

  <div class="field">
    <%= form.label :arrival_datetime %>
    <%= form.datetime_select :arrival_datetime %>
  </div>

  <div class="field">
    <%= form.label :max_eco_seats %>
    <%= form.number_field :max_eco_seats %>
  </div>

  <div class="field">
    <%= form.label :max_business_seats %>
    <%= form.number_field :max_business_seats %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
