<h1>Flights</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Departure airport</th>
      <th>Arrival airport</th>
      <th>Departure date</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.number %></td>
        <td><%= flight.departure_airport %></td>
        <td><%= flight.arrival_airport %></td>
        <td><%= flight.departure_date%></td>
        <td><%= (flight.duration / 60) %>:<%= (flight.duration % 60).to_s.rjust(2, '0') %></td>
        <td><%= link_to 'Reservation', new_reservation_path(flight_id: flight.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% unless @flights.first_page? %>
<%=  link_to '<', flights_path(page: @flights.prev_page)  %>
<% end %>

Page <%= @flights.current_page %>/<%= @flights.total_pages %>

<% unless @flights.last_page? %>
  <%= link_to '>', flights_path(page: @flights.next_page) %>
<% end %>
