<h1>Flights</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Departure airport</th>
      <th>Arrival airport</th>
      <th>Departure date</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.number %></td>
        <td><%= flight.departure_airport %></td>
        <td><%= flight.arrival_airport %></td>
        <td><%= flight.departure_date%></td>
        <td><%= flight.duration %></td>
        <td><%= link_to 'Reservation', new_reservation_path(flight_id: flight.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
