<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @flight.number %>
</p>

<p>
  <strong>Departure airport:</strong>
  <%= @flight.departure_airport %>
</p>

<p>
  <strong>Arrival airport:</strong>
  <%= @flight.arrival_airport %>
</p>

<p>
  <strong>Departure datetime:</strong>
  <%= @flight.departure_datetime %>
</p>

<p>
  <strong>Arrival datetime:</strong>
  <%= @flight.arrival_datetime %>
</p>

<p>
  <strong>Max eco seats:</strong>
  <%= @flight.max_eco_seats %>
</p>

<p>
  <strong>Max business seats:</strong>
  <%= @flight.max_business_seats %>
</p>

<%= link_to 'Back', flights_path %>
