<div class="flex flex-col w-screen h-screen">
  <div class="pl-10 py-16 text-white rounded-bl-5rem bg-gradient-to-br from-purple-300 to-pink-500 text-4xl font-bold mb-5">
    Log in
  </div>

  <div class="flex flex-col items-center mx-5 pt-5 self-center p-8 rounded-xl border-2 border-purple-300">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Email", :class => "focus:outline-none rounded-full p-3 my-3 border-2 border-purple-300" %>
      </div>

      <div class="">
        <%= f.password_field :password, autocomplete: "current-password", :placeholder => "Password", :class => "focus:outline-none rounded-full p-3 my-3 border-2 border-purple-300" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="flex flex-row justify-end items-center">
          <%= f.label :remember_me, :class => "mr-3" %>
          <%= f.check_box :remember_me %>
        </div>
      <% end %>

      <div class="w-full mt-3">
        <%= f.submit "Log in", :class => "p-3 rounded-full w-full bg-pink-500 text-white font-semibold" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

</div>